<mat-toolbar class="toolbar-container" color="primary">
  <a routerLink="/">Il mio Blocco Note</a>
  <button
    mat-mini-fab
    [matMenuTriggerFor]="beforeMenu"
    color="accent"
    aria-label="Button for user account"
    style="margin-right: 20px; margin-left: auto"
  >
    <mat-icon>perm_identity</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu">
    <button mat-menu-item routerLink="/login">
      <span>Account</span>
    </button>
    <button mat-menu-item disabled>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
