.card-content-class {
  padding: 16px;
  left: 0px;
  margin-left: 0;
  height: 95vh;
  background-color: rgb(247, 247, 247);
}

.add-button {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
