.card-title {
  display: flex;
  width: auto;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
}

.card-title button {
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 10px;
}

.card-title button:last-child {
  left: 0px;
}

.card-content {
  overflow: auto;
  min-height: 93vh;
  height: auto;
  background-color: rgb(252, 252, 252);
}

.card-content pre {
  padding-top: 20px;
  font-size: medium;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  white-space: pre-line;
}
