<mat-card class="about-card">
  <mat-card-content>
    <h1>About</h1>
    <mat-divider></mat-divider>
    <p>
      Questa applicazione è stata sviluppata per l'esame di Progettazione di
      Applicazioni Web e Mobili.
    </p>
    <p>
      Il suo scopo principale è quello di aiutare nell'utilizzo delle note,
      mettendo a disposizione un'applicazione funzionante senza fronzoli.
    </p>
    <p>
      Per poter però aumentare la tracciabilità delle operazioni effettuate,
      mantiene anche una tabella con all'interno tutte le operazioni effettuate.
    </p>
    <p>
      Più precisamente, dal punto di vista tecnologico utilizza un frontend
      realizzato in Angular e un backend realizzato in NestJS.<br />
      Le informazioni sono salvate in un database MongoDB.<br />
      Infine, come si può notare, un aspetto centrale nell'applicazione è
      l'autenticazione dell'utente (per mezzo di JWT), con la quale può risalire
      alle note dello specifico utente.
    </p>
    <mat-divider></mat-divider>
    <div>
      <button mat-button routerLink="/">
        Torna alla Home <mat-icon>home</mat-icon>
      </button>
      <h3>Applicazione realizzata da Luca Bianchi</h3>
    </div>
  </mat-card-content>
</mat-card>
